{% extends 'base.html.twig' %}

{% block title %}{{ 'title.record_view'|trans }} {{ address.id }}{% endblock %}

{% block body %}



    {% if address is defined %}
        <h3>{{ 'label.id'|trans }}: {{ address.id }}</h3>
        <h3>{{ 'label.address_in'|trans }}</h3>
        <p>{{ address.addressIn }}</p>
{#        <h3>Komentarz</h3>#}
{#        <p>{{ address.comment }}</p>#}
        <h3>{{ 'label.address_out'|trans }}</h3>
        <p>{{ address.addressOut }}</p>
        <h3>{{ 'label.add_date'|trans }}</h3>
        <p>{{ address.addDate|date('Y-m-d') }}</p>
        <h3>{{ 'label.click_counter'|trans }}</h3>
        <p>{{ address.clickCounter }}</p>
        <a href="{{ url('address_index') }}" title="{{ 'action.back_to_list'|trans }}">
            {{ 'action.back_to_list'|trans }}
        </a>
    {% else %}
        <p>{{ 'message.record_not_exist'|trans }}</p>
    {%  endif %}

{% endblock %}